<div class="hero-wrap js-fullheight img" style="background-image: url(https://technext.github.io/ignite/images/bg_1.jpg);">
<div class="overlay"></div>
<div class="container-fluid px-0">
<div class="row d-md-flex no-gutters slider-text align-items-center js-fullheight justify-content-center">
    <div class="col-md-8 text-center d-flex align-items-center ftco-animate js-fullheight">
        <div class="text mt-5">
          <p id="notice"><%= notice %></p>
          <h1>Your application was successful!</h1>
          <%= button_to 'User Profile', edit_user_registration_path, method: :get %>
          </div>
          </div>
        </div>
    </div>
  </div>
</div>
</div>
