<h1>Register a Company</h1>

<%= render 'form', company: @company %>

<%= link_to '<button type="button">Logout</button>'.html_safe, destroy_admin_session_path %>

<%= link_to '<button type="button">Back</button>'.html_safe, authenticated_root_path %>
