<h1>Register a Company</h1>

<%= render 'form', company: @company %>

<%= link_to '<button type="button">See All Registered Companys</button>'.html_safe, companies_path %>

<%= link_to '<button type="button">Logout</button>'.html_safe, destroy_admin_session_path %>

