<% if admin_signed_in? %>  
  <% if current_admin.company_id %>
    <h1><%= Company.find(current_admin.company_id).name %></h1>
  <% else %>
    <%= redirect_to new_company_path %>
  <% end %>
<% end %>

<h2>Your QR Code</h2>
<%= raw(@company.qr_code) %>
