<h2>Welcome to Job IO</h2>

<h3> Want to Apply for Jobs? </h3>
<%= link_to '<button type="button">User Login or Sign up!</button>'.html_safe, new_user_session_path %>


<h3> Want to View or Create Company Profiles </h3>
<%= link_to '<button type="button">Admin Login or Sign up!</button>'.html_safe, new_admin_registration_path %>
